/.vscode
/2d_possion/build
/2d_possion/gauss_seidel_contour_3d.png
/2d_possion/gauss_seidel_heatmap.png
/2d_possion/gauss_seidel_results.csv

/1d_convection_diffusion/build
/1d_convection_diffusion/case1_results.txt
/1d_convection_diffusion/case2_results.txt
/1d_convection_diffusion/case3_results.txt
/1d_convection_diffusion/case4_results.txt
/1d_convection_diffusion/convection_diffusion_comparison.pdf
/1d_convection_diffusion/convection_diffusion_comparison.png

/2d_convection_diffusion/build

/heat_conduction/build
/heat_conduction/post_temp.vtk
/heat_conduction/lin.res
/heat_conduction/nonlin.res
/heat_conduction/temp_yline.dat
/heat_conduction/x_pt5.ref
/heat_conduction/x_pt0833.ref

/convection_diffusion/build
/convection_diffusion/analytical_temp_x_0.dat
/convection_diffusion/center_temp_x_upwind.dat
/convection_diffusion/lin.res
/convection_diffusion/nonlin.res
/convection_diffusion/post_temp.vtk
/convection_diffusion/temp_x_0.dat

/simple/.vscode
/simple/build

